.DS_Store
.classpath
.metadata/
.project
.settings/
.springBeans
.tern-project
src/.DS_Store
src/main/.DS_Store
src/main/resources/log4j.xml
src/main/webapp/.DS_Store
src/main/webapp/WEB-INF/.DS_Store
src/main/webapp/WEB-INF/views/.DS_Store
src/test/resources/
src/main/webapp/WEB-INF/spring/root-context.xml
src/main/webapp/resources/trackfile
src/main/webapp/resources/images
target/
