<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	
	<!-- 회원 테이블의 컬럼  -->
	<sql id ="memberColumns">
		  user_id
		, password
		, zip_code
		, address
		, address_detail
		, insert_time
		, update_time
		, delete_time
	</sql>
	
	<!-- 회원 상세조회  -->
	<select id="selectOne" resultType="MemberDTO">
		SELECT
			<include refid="memberColumns"/>
		FROM 
			member 
		WHERE
			delete_time IS NULL
		AND
			user_id = #{user_id}
	</select>
	
	<!-- 회원가입  -->
	<insert id="insert" parameterType="MemberDTO">
		INSERT INTO member (
			<include refid="memberColumns"/>
		) VALUES (
			  #{user_id}
			, #{password}
			, #{zip_code}
			, #{address}
			, #{address_detail}
			, NOW()
			, NULL
			, NULL
		)
	</insert>
	
	<!-- 회원정보 수정  -->
	<update id="update" parameterType="MemberDTO">
		UPDATE 
			member
		SET
			  zip_code = #{zip_code}
			, address = #{address}
			, address_detail = #{address_detail}
		WHERE
			user_id = #{user_id}
	</update>
	
	<!-- 비밀번호 변경  -->
	<update id="changePW">
		UPDATE 
			member
		SET
			update_time = NOW(), 
			password = #{password}
		WHERE 
			user_id = #{user_id}
	</update>
	
	<!-- 회원 탈퇴 -->
	<!-- 실제로 삭제하지 않고 삭제일자를 업데이트하여 조회할 때 나오지 않게 하였다.(복구가능성 염두)  -->
	<update id="delete">
		UPDATE 
			member
		SET
			delete_time = NOW()
		WHERE
			user_id = #{user_id}
	</update>

</mapper>